<div class="Insightful">
    <h1>
        {{ title | titlecase }}
    </h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">

            </div>
            <div class="col-sm-9">
                <div class="cards-all">
                    <div *ngFor="let quote of sortQuotes let i= index" class="card" style="width: 24rem;"  >
                        <div class="card-body">
                           <h4 class="card-title" appHighlightQuote >{{quote.title}}</h4> 
                        </div>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>
