<h6 class="card-subtitle mb-2 text-muted"> - {{quoty.author}} <span id="clickable">Posted: {{quoty.datePosted|datePipe}} days ago.</span> </h6>
<div class="container-fluid" id="buttons">
  <button class="btn btn-sm btn-success" (click)='upvote()'>{{quoty.likes}} <i class="fa fa-thumbs-up" id="thumpsup"></i></button>
  <button class="btn btn-sm btn-warning hate" id="dislike" (click)='downvote()'>{{quoty.dislikes}} <i class="fa fa-thumbs-down" id="thumpdown"></i></button>
  <button class="btn btn-sm btn-danger" id="puk" (click)='deleteQuote(true)'><i class="fa fa-trash" id="remove"></i></button>
</div>
