@import "~bootstrap/dist/css/bootstrap.css";
@import '~font-awesome/css/font-awesome.css';
@import url('http://fonts.googleleapis.com/css2?family=Dancing+script&display=swap');
body{
    background-color: blueviolet;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}